<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../img/header_myers.jpg">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Contos da Meia-Noite</title>
    <script src="../js/index.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark py-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">Contos 2025</a>
                <button class="navbar-toggler btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-light"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="cadastrar_evento.html">Eventos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="fazer_inscricao.html">Inscrições</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="sobre.html">Sobre</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Pesquisar</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main >
        <!-- SEÇÃO DO BANNER -->
        <section class="w-100 banner d-flex align-items-center">
            <div class="container d-flex justify-content-between align-items-center">
                <h1 class="text-white font-900">Contos da Meia-Noite</h1>
                <h1 class="text-white font-900"></h1>
            </div>
        </section>
        <!-- SESSÃO DOS EVENTOS -->
        <div class="row w-100 d-flex justify-content-center pt-3 pb-3 ">
            <h1 class="titulo text-center">Shhh...</h1>
        </div>
        <section class="container container-eventos pt-5">
            <div class="row">
                <div class="col-12 col-md-6 coluna-evento card border-0 p-0 bg-transparent"
                    data-id="1"
                    data-titulo="Contos da meia noite 1"
                    data-inicio="2025-12-26T19:00:00">
                    <div class="card-body ">
                        <img class="img-evento" src="../img/invocacao1.jpg" alt="panico_evento1">
                        <h3>
                            A casa que susurra
                        </h3>
                        <p class="mb-1 text-muted small">
                        <strong>Local:</strong> Passo Fundo - RS
                    </p>
                    <p class="mb-2">
                        Há histórias que não dormem. Ecos que atravessam o tempo, vozes que sussurram entre o real e o impossível. Contos da meia noite é um convite para explorar esses mistérios — uma noite dedicada a narrativas que desafiam a lógica e despertam o desconhecido. 
                            Entre relatos de aparições, lendas antigas e experiências que a razão não explica, escritores e entusiastas do sobrenatural se reúnem para compartilhar medos, fascínios e segredos escondidos nas sombras. </p>
                        <div class="d-flex w-100 justify-content-end mt-2">
                            <a href="" class="btn btn-info me-2">Detalhes</a>
                            <p class="mb-1"><strong>Início:</strong> 26/12/2025 19:00</p>
                    <p class="text-muted small mb-2" data-contador="2025-11-18T19:00:00"></p>
                    <button class="btn-favorito">
                     <span class="icone">☆</span> Favoritar
                        </button>       
                            
                        
                            
                            <a href="fazer_inscricao.html" class="btn btn-dark">Inscrever-se</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 coluna-evento card border-0 p-0 bg-transparent"
                    data-id="2"
                    data-titulo="Contos da meia noite 2"
                    data-inicio="2025-12-26T19:00:00">
                    <div class="card-body ">
                        <img class="img-evento" src="../img/panico2.jpg" alt="Evento 01">
                        <h3>
                            A Noite da Caçada 
                        </h3>
                        <p class="mb-1 text-muted small">
                        <strong>Local:</strong> Passo Fundo - RS
                    </p>
                    <p class="mb-2">
                        Reunindo contadores de histórias, escritores e amantes do mistério, este evento celebra o poder do sobrenatural — das lendas urbanas às experiências inexplicáveis, dos fantasmas da memória às presenças que espreitam nas esquinas do tempo. Prepare-se para uma imersão sensorial: luzes baixas, vozes envolventes e narrativas que farão o coração acelerar. </p>
                        <div class="d-flex w-100 justify-content-end mt-2">
                            <a href="" class="btn btn-info me-2">Detalhes</a>
                            <p class="mb-1"><strong>Início:</strong> 31/11/2025 19:00</p>
                    <p class="text-muted small mb-2" data-contador="2025-11-18T19:00:00"></p>
                    <button class="btn-favorito">
                     <span class="icone">☆</span> Favoritar
                        </button>

                            
                        
                            <a href="fazer_inscricao.html" class="btn btn-dark">Inscrever-se</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 coluna-evento card border-0 p-0 bg-transparent"
                    data-id="1"
                    data-titulo="Contos da meia noite 1"
                    data-inicio="2025-12-26T19:00:00">
                    <div class="card-body ">
                        <img class="img-evento" src="../img/amityville3.jpg" alt="Evento 01">
                        <h3>
                            Ele sempre sabe onde você está
                        </h3>
                        <p class="mb-1 text-muted small">
                        <strong>Local:</strong> Passo Fundo - RS
                        <p class="mb-2">
                        Nesta noite, escritores, contadores de histórias e testemunhas do mistério se reúnem para partilhar o que vive entre o medo e o fascínio. Prepare-se para ouvir vozes que ecoam de outros tempos, histórias que arrepiam e experiências que ninguém consegue esquecer. </p>
                        <div class="d-flex w-100 justify-content-end mt-2">
                            <a href="https://phpconference.com.br" class="btn btn-info me-2">Detalhes</a>
                            <p class="mb-1"><strong>Início:</strong> 18/11/2025 19:00</p>
                    <p class="text-muted small mb-2" data-contador="2025-11-18T19:00:00"></p>
                    <button class="btn-favorito">
                     <span class="icone">☆</span> Favoritar
                        </button>
                    
                        
                            <a href="fazer_inscricao.html" class="btn btn-dark">Inscrever-se</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 coluna-evento card border-0 p-0 bg-transparent"
                    data-id="4" data-titulo="Contos da meia noite 4"
                    data-inicio="2025-12-26T19:00:00">
                    <div class="card-body ">
                        <img class="img-evento" src="../img/zombie4.jpg" alt="Evento 01">
                        <h3>
                            O Grito Final
                        </h3>
                        <p class="mb-1 text-muted small">
                        <strong>Local:</strong> Passo Fundo - RS
                        <p class="mb-2">
                        Entre narradores, ouvintes e almas curiosas, compartilharemos contos, lendas e experiências que desafiam a explicação. Cada relato será um fio que tece a fronteira entre o visível e o oculto, o passado e o que ainda insiste em permanecer.</p>
                        <div class="d-flex w-100 justify-content-end mt-2">
                            <a href="" class="btn btn-info me-2">Detalhes</a>
                            <p class="mb-1"><strong>Início:</strong> 18/12/2025 19:00</p>
                    <p class="text-muted small mb-2" data-contador="2025-11-18T19:00:00"></p>
                    <button class="btn-favorito">
                     <span class="icone">☆</span> Favoritar
                        </button>
                            <a href="fazer_inscricao.html" class="btn btn-dark">Inscrever-se</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="w-100 banner-2 align-items-center">
        </section>
    </main>
    <footer class="bg-dark text-white d-flex justify-content-center py-3">
        <p>Eventos Oficiais</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

